* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'vazir-bold';
    src: url(../fonts/Vazir-Bold.woff) format('woff');
    src: url(../fonts/Vazir-Bold.ttf) format('ttf');
    src: url(../fonts/Vazir-Bold.eot) format('eot');
    src: url(../fonts/Vazir-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'vazir';
    src: url(../fonts/Vazir.ttf) format('ttf');
    src: url(../fonts/Vazir.eot) format('eot');
    src: url(../fonts/Vazir.woff) format('woff');
    src: url(../fonts/Vazir.woff2) format('woff2');
}

body {
    font-family: 'vazir';
    background-color: #ECECEC;
}

a {
    text-decoration: none;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
    
li {
    list-style: none;
}

.clear-fix {
    clear: both;
}

figure {
    padding: 0;
    margin: 0;
}

:focus {
    outline: none;
}

/***************************START*************************/

header {
    background: linear-gradient(to right, #9A1D23, #D22229);
}

.mosalas-header {
    background-image: url(../images/shape-banner.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media screen and (min-width:950px) {
    .mosalas-header {
        background-position-x: 241px;
        background-position-y: -40px;
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    width: 100%;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

/***************************SOCIAL*************************/

.social {
    background: linear-gradient(to right, #9A1D23, #D22229);
}

.social a {
    color: white;
    font-size: 1.2em;
    padding: 5px;
}

.icons {
    padding: 5px 15px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width:750px) {
    .icons {
        text-align: left;
    }
    .icons a {
        padding: 0;
        font-size: 1em;
    }
}

/***************************LOGO*************************/

.logo {
    width: 40%;
    margin: 20px auto;
}

@media screen and (min-width:750px) {
    .logo {
        width: 25%;
        float: right;
        margin: 15px 15PX 25PX 15px
    }
}

@media screen and (min-width:950px) {
    .logo {
        width: 20%;
        float: right;
    }
}

.logo img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:750px) {
    .logo img {
        width: 100%;
        height: 100%;
        float: right;
    }
}

@media screen and (min-width:950px) {
    .logo img {
        width: 100%;
        height: 100%;
    }
}

/*************************** DATE-SEARCH *************************/

.date-search {
    color: white;
    text-align: center;
    margin: 42PX 0 10px;
}

@media screen and (min-width:750px) {
    .date-search {
        width: 60%;
        float: left;
        text-align: left;
    }
}

@media screen and (min-width:950px) {
    .date-search {
        width: 55%;
    }
}

@media screen and (min-width:750px) {
    .date-search time {
        font-size: .8em;
        padding-left: 13px;
    }
}

@media screen and (min-width:950px) {
    .date-search time {
        font-size: .8em;
        padding-left: 20px;
    }
}

.date-search i {
    font-size: .5em;
}

/***************************SEARCH*************************/

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search {
    position: relative;
    text-align: center;
    padding: 0 10px;
}

@media screen and (min-width:750px) {
    .search {
        width: 100%;
    }
}

@media screen and (min-width:950px) {
    .search {
        width: 100%;
    }
}

.search i {
    position: absolute;
    font-size: 1em;
    color: #666;
    top: 20px;
    left: 20px;
}

@media screen and (min-width:750px) {
    .search i {
        font-size: 1em;
        top: 10px;
        left: 15px;
    }
}

@media screen and (min-width:950px) {
    .search i {
        font-size: 1em;
        top: 10px;
        left: 20px;
    }
}

.search input {
    width: 100%;
    height: 38px;
    margin: 10px 0;
    padding-right: 10px;
}

@media screen and (min-width:750px) {
    .search input {
        width: 60%;
        float: left;
        margin: 0 0 10px 0;
        padding-right: 10px;
    }
}

@media screen and (min-width:950px) {
    .search input {
        width: 42%;
        float: left;
        padding-right: 10px;
    }
}

/***************************NAVICATION*************************/

ul {
    padding: 0;
    margin: 0;
}

.normal-nav {
    background: #444444;
}

header .normal-nav .wrapper {
    background: #444444;
}

header .normal-nav .wrapper ul li {
    text-align: center;
}

@media screen and (min-width:950px) {
    header .normal-nav .wrapper ul li {
        display: inline-block;
    }
}

.normal-nav ul li:nth-child(1) {
    background-color: #333333;
    border-bottom: 2px solid red;
}

.responsive-nav ul li:nth-child(1) {
    background-color: #333333;
    border-bottom: 2px solid red;
}

header .normal-nav .wrapper ul li a {
    color: white;
    display: block;
    padding: 15px;
}

/*
header .normal-nav .wrapper ul li a:hover {
    background-color: #333333;
    border-bottom: 2px solid red;
}
*/

@media screen and (min-width:950px) {
    header .normal-nav .wrapper ul li a {
        color: white;
        padding: 12px;
    }
}

/***************************RESPONSIVE-NAV*************************/

header .normal-nav {
    background-color: #444444;
    display: none;
}

@media screen and (min-width:750px) {
    header .normal-nav {
        display: none;
    }
}

@media screen and (min-width:950px) {
    header .normal-nav {
        display: block;
    }
}

header .responsive-nav .wrapper {
    background: #444444;
}

header .responsive-nav ul {
    display: none;
}

.responsive-nav ul li {
    text-align: center;
}

.responsive-nav ul li a {
    color: white;
    display: block;
    padding: 15px;
}

@media screen and (min-width:750px) {
    header .responsive-nav .wrapper {
        display: block;
    }
}

@media screen and (min-width:950px) {
    header .responsive-nav {
        background: #444444;
        display: none;
    }
}

.responsive-nav ul li a:hover {
    background-color: #333333;
    border-bottom: 2px solid red;
}

.responsive-nav .nav-bar .icon-bar {
    text-align: center;
    color: white;
    display: block;
    font-size: 1.3em;
    padding: 10px;
}

.responsive-nav .nav-bar {
    cursor: pointer;
}

/***************************margin-top*************************/

.margin-top {
    margin-top: 20px;
    display: block;
}

/***************************PULLS*************************/

.pull-right {
    width: 100%;
}

.pull-left {
    width: 100%;
}

@media screen and (min-width:750px) {
    .pull-right {
        width: 100%;
        float: right;
    }
}

@media screen and (min-width:950px) {
    .pull-right {
        width: 75%;
        float: right;
    }
}

@media screen and (min-width:750px) {
    .pull-left {
        width: 100%;
        float: left;
    }
}

@media screen and (min-width:950px) {
    .pull-left {
        width: 25%;
        float: left;
    }
}

/***************************RIGHT*************************/

.pishkhan {
    width: 100%;
    background-color: white;
    padding: 8px;
}

.pishkhan a i {
    padding-right: 5px;
    padding-top: 15px;
    font-size: .6em;
    color: black;
    padding-bottom: 20px;
}

.fake-icons {
    margin: 0 auto;
}

.pishkhan a {
    display: inline-block;
}

.pishkhan img {
    width: 100%;
    overflow: hidden;
}

/***************************YADDASHT*************************/

.between {
    background-color: white;
    margin: 25px 0 15px;
    padding: 6px;
}

.column-right {
    margin-top: 10px;
}

@media screen and (min-width:750px) {
    .column-right {
        width: 30%;
        float: right;
    }
}

@media screen and (min-width:950px) {
    .column-right {
        width: 30%;
        float: right;
    }
}

.yaddasht {
    background-color: white;
    display: inline-block;
}

.yaddasht img {
    border-radius: 50%;
}

.yaddasht ul {
    padding: 5px;
}

.yaddasht ul li {
    border-bottom: 1px solid #E6E6E6;
}

.yaddasht time {
    color: #666;
    font-size: .6em;
    padding: 5px;
    margin-bottom: 5px;
    display: block;
}

.yaddasht ul li:hover time {
    font-size: .7em;
    background-color: #787878;
    color: white;
    transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

.yaddasht .image-date {
    width: 40%;
    float: right;
}

.yaddasht .title-name {
    width: 55%;
    float: left;
}

.yaddasht .title-name h4 {
    margin: 0;
}

.yaddasht .title-name a {
    font-size: .8em;
    line-height: 25px;
    padding: 3px;
    color: #666;
    display: block;
}

.yaddasht .title-name a i {
    color: green;
    font-size: 1em;
}

.yaddasht .more {
    padding: 4px 10px;
    font-size: .9em;
    color: white;
    background-color: #c92727;
    display: table;
    margin: 10px auto;
    opacity: .4;
}

.yaddasht .more:hover {
    opacity: 1;
}

/*************************** MID *************************/

.column-mid {
    padding-right: 15px;
}

@media screen and (min-width:750px) {
    .column-mid {
        width: 70%;
        float: left;
    }
}

@media screen and (min-width:950px) {
    .column-mid {
        width: 70%;
    }
}

/*************************** FIRST - BOX *************************/

.first-box-image a {
    display: block;
}

@media screen and (min-width:750px) {
    .first-box-image {
        width: 60%;
        float: left;
    }
}

@media screen and (min-width:750px) {
    .first-box-image img {
        width: 100%;
        float: left;
    }
}

@media screen and (min-width:750px) {
    .first-box-details {
        width: 40%;
        float: right;
    }
}

.first-box {
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.first-box h1 {
    color: #1a7e43;
    padding: 10px;
    line-height: 25px;
    font-size: 1.1em;
    text-align: justify;
}

@media screen and (min-width:750px) {
    .first-box h1 {
        font-size: .9em;
    }
}

@media screen and (min-width:950px) {
    .first-box h1 {
        font-size: 1em;
    }
}

.first-box p {
    font-size: .8em;
    line-height: 15px;
    color: #303030;
    padding: 0 10px;
    text-align: justify;
}

@media screen and (min-width:750px) {
    .first-box p {
        line-height: 25px;
    }
}

@media screen and (min-width:950px) {
    .first-box p {
        line-height: 20px;
    }
}

.first-box img {
    width: 100%;
    padding: 10px;
}

/*************************** SECOND - BOX *************************/

.second-box {
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.second-box figure {
    position: relative;
}

.second-box figure img {
    width: 100%;
}

.second-box {
    padding: 10px;
}

.second-box figcaption {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
}

.second-box figcaption h2 a {
    font-size: .7em;
    padding: 0 10px;
    color: #f5e590;
}

.second-box figcaption p {
    font-size: .9em;
    color: white;
    padding: 5px 10px;
}

/***************************HEADER-NEWS*************************/

.header-news {
    display: block;
    background-image: url(../images/hashor-min.png);
}

.header-news h3 {
    background-color: #c92727;
    display: inline-block;
    margin: 0;
}

.header-news a {
    color: white;
    font-size: .8em;
    padding: 8px 12px;
    display: block;
}

/***************************column-mid-NEWS*************************/

.title h3 {
    margin: 0;
}

.title h3 a {
    display: block;
}

.column-mid-news {
    background-color: white;
}

.news-details {
    padding: 10px;
    border: 1px solid #e4e4e4;
}

.news-details:hover {
    background-color: #EFEFEF;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.news-details:hover h3 a {
    color: #C92727;
}

.news-details .news-pic {
    width: 100%;
}

@media screen and (min-width:750px) {
    .news-details .news-pic {
        margin-top: 10px;
        width: 43%;
        float: right;
    }
}

@media screen and (min-width:950PX) {
    .news-details .news-pic {
        width: 35%;
        float: right;
        margin-top: 10px;
    }
}

.news-details .news-pic img {
    width: 100%;
}

.news-details .title h3 a {
    color: #3B3B3B;
    display: block;
    line-height: 25px;
    margin: 25px 0 0 10px;
}

@media screen and (min-width:750px) {
    .news-details .title h3 a {
        font-size: .9em;
        width: 53%;
        float: left;
    }
}

@media screen and (min-width:950px) {
    .news-details .title h3 a {
        font-size: 1.1em;
        width: 60%;
        float: left;
    }
}

.news-details .lead p {
    color: #666;
    text-align: justify;
    line-height: 25px;
    margin-left: 10px;
}

@media screen and (min-width:750px) {
    .news-details .lead p {
        width: 53%;
        float: left;
        font-size: .8em;
    }
}

@media screen and (min-width:950PX) {
    .news-details .lead p {
        width: 60%;
        float: left;
        font-size: .8em;
    }
    /***************************LEFT*************************/
    .column-left {
        background-color: orangered;
    }
    @media screen and (min-width:950px) {
        .column-left {
            width: 100%;
            float: left;
        }
    }
    /***************************FOOTER*************************/
    footer {
        background-color: olive;
    }
    footer nav {
        background-color: paleturquoise;
    }
    .creator {
        background-color: mediumslateblue;
    }