* {
    box-sizing: border-box;
}

@font-face {
    font-family: vazir-bold;
    src: url(../fonts/Vazir-Bold.woff) format('woff');
    src: url(../fonts/Vazir-Bold.ttf) format('ttf');
    src: url(../fonts/Vazir-Bold.eot) format('eot');
    src: url(../fonts/Vazir-Bold.woff2) format('woff2');
}

@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.ttf) format('ttf');
    src: url(../fonts/Vazir.eot) format('eot');
    src: url(../fonts/Vazir.woff) format('woff');
    src: url(../fonts/Vazir.woff2) format('woff2');
}

body {
    font-family: vazir;
    background-color: #ECECEC;
}

a {
    text-decoration: none;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

li {
    list-style: none;
}

.clear-fix {
    clear: both;
}

figure {
    padding: 0;
    margin: 0;
}

:focus {
    outline: none;
}

/***************************START*************************/

header {
    background: linear-gradient(to right, #9A1D23, #D22229);
}

.mosalas-header {
    background-image: url(../images/shape-banner.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media screen and (min-width:950px) {
    .mosalas-header {
        background-position-x: 241px;
        background-position-y: -40px;
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper::after {
    content: "";
    clear: both;
    display: block;
}

.container {
    width: 100%;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}

/***************************SOCIAL*************************/

.social {
    background: linear-gradient(to right, #9A1D23, #D22229);
}

.social a {
    color: white;
    font-size: 1.2em;
    padding: 5px;
}

.icons {
    padding: 5px 15px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width:750px) {
    .icons {
        text-align: left;
    }
    .icons a {
        padding: 0;
        font-size: 1em;
    }
}

/***************************LOGO*************************/

.logo {
    width: 40%;
    margin: 20px auto;
}

@media screen and (min-width:750px) {
    .logo {
        width: 25%;
        float: right;
        margin: 15px 15PX 25PX 15px
    }
}

@media screen and (min-width:950px) {
    .logo {
        width: 20%;
        float: right;
    }
}

.logo img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:750px) {
    .logo img {
        width: 100%;
        height: 100%;
        float: right;
    }
}

@media screen and (min-width:950px) {
    .logo img {
        width: 100%;
        height: 100%;
    }
}

/*************************** DATE-SEARCH *************************/

.date-search {
    color: white;
    text-align: center;
    margin: 42PX 0 10px;
}

@media screen and (min-width:750px) {
    .date-search {
        width: 60%;
        float: left;
        text-align: left;
    }
}

@media screen and (min-width:950px) {
    .date-search {
        width: 55%;
    }
}

@media screen and (min-width:750px) {
    .date-search time {
        font-size: .8em;
        padding-left: 13px;
    }
}

@media screen and (min-width:950px) {
    .date-search time {
        font-size: .8em;
        padding-left: 20px;
    }
}

.date-search i {
    font-size: .5em;
}

/***************************SEARCH*************************/

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search {
    position: relative;
    text-align: center;
    padding: 0 10px;
}

@media screen and (min-width:750px) {
    .search {
        width: 100%;
    }
}

@media screen and (min-width:950px) {
    .search {
        width: 100%;
    }
}

.search i {
    position: absolute;
    font-size: 1em;
    color: #666;
    top: 20px;
    left: 20px;
}

@media screen and (min-width:750px) {
    .search i {
        font-size: 1em;
        top: 10px;
        left: 15px;
    }
}

@media screen and (min-width:950px) {
    .search i {
        font-size: 1em;
        top: 10px;
        left: 20px;
    }
}

.search input {
    width: 100%;
    height: 38px;
    margin: 10px 0;
    padding-right: 10px;
}

@media screen and (min-width:750px) {
    .search input {
        width: 60%;
        float: left;
        margin: 0 0 10px 0;
        padding-right: 10px;
    }
}

@media screen and (min-width:950px) {
    .search input {
        width: 42%;
        float: left;
        padding-right: 10px;
    }
}

/***************************NAVICATION*************************/

ul {
    padding: 0;
    margin: 0;
}

.normal-nav {
    background: #444444;
}

header .normal-nav .wrapper {
    background: #444444;
}

header .normal-nav .wrapper ul li {
    text-align: center;
}

@media screen and (min-width:950px) {
    header .normal-nav .wrapper ul li {
        display: inline-block;
    }
}

.normal-nav ul li:nth-child(1) {
    background-color: #333333;
    border-bottom: 2px solid red;
}

.responsive-nav ul li:nth-child(1) {
    background-color: #333333;
    border-bottom: 2px solid red;
}

header .normal-nav .wrapper ul li a {
    color: white;
    display: block;
    padding: 15px;
}

/*
header .normal-nav .wrapper ul li a:hover {
    background-color: #333333;
    border-bottom: 2px solid red;
}
*/

@media screen and (min-width:950px) {
    header .normal-nav .wrapper ul li a {
        color: white;
        padding: 12px;
    }
}

/***************************RESPONSIVE-NAV*************************/

header .normal-nav {
    background-color: #444444;
    display: none;
}

@media screen and (min-width:750px) {
    header .normal-nav {
        display: none;
    }
}

@media screen and (min-width:950px) {
    header .normal-nav {
        display: block;
    }
}

header .responsive-nav .wrapper {
    background: #444444;
}

header .responsive-nav ul {
    display: none;
}

.responsive-nav ul li {
    text-align: center;
}

.responsive-nav ul li a {
    color: white;
    display: block;
    padding: 15px;
}

@media screen and (min-width:750px) {
    header .responsive-nav .wrapper {
        display: block;
    }
}

@media screen and (min-width:950px) {
    header .responsive-nav {
        background: #444444;
        display: none;
    }
}

.responsive-nav ul li a:hover {
    background-color: #333333;
    border-bottom: 2px solid red;
}

.responsive-nav .nav-bar .icon-bar {
    text-align: center;
    color: white;
    display: block;
    font-size: 1.3em;
    padding: 10px;
}

.responsive-nav .nav-bar {
    cursor: pointer;
}

/***************************margin-top*************************/

.margin-top {
    margin-top: 20px;
}

/***************************PULLS*************************/

.pull-right {
    width: 100%;
}

.pull-left {
    width: 100%;
}

@media screen and (min-width:750px) {
    .pull-right {
        width: 100%;
        float: right;
    }
}

@media screen and (min-width:950px) {
    .pull-right {
        width: 70%;
        float: right;
    }
}

@media screen and (min-width:750px) {
    .pull-left {
        width: 100%;
        float: left;
    }
}

@media screen and (min-width:950px) {
    .pull-left {
        width: 30%;
        float: left;
    }
}

/***************************RIGHT*************************/

.column-right {
    background-color: lightgreen;
}

@media screen and (min-width:750px) {
    .column-right {
        width: 30%;
        float: right;
    }
}

@media screen and (min-width:950px) {
    .column-right {
        width: 35%;
        float: right;
    }
}

/*************************** MID *************************/

@media screen and (min-width:750px) {
    .column-mid {
        width: 70%;
        float: left;
    }
}

@media screen and (min-width:950px) {
    .column-mid {
        width: 65%;
    }
}

/*************************** FIRST - BOX *************************/

@media screen and (min-width:750px) {
    .first-box-image {
        width: 60%;
        float: left;
    }
}

@media screen and (min-width:750px) {
    .first-box-image img {
        width: 100%;
        float: left;
    }
}

@media screen and (min-width:750px) {
    .first-box-details {
        width: 40%;
        float: right;
    }
}

.first-box {
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    margin: 0 10px;
}

.first-box h3 {
    color: #1a7e43;
    padding: 10px;
}

@media screen and (min-width:750px) {
    .first-box h3 {
        font-size: .9em;
    }
}

@media screen and (min-width:950px) {
    .first-box h3 {
        font-size: .9em;
    }
}

.first-box p {
    font-size: .8em;
    color: #303030;
    padding: 0 10px;
}

.first-box img {
    width: 100%;
    padding: 10px;
}

/*************************** SECOND - BOX *************************/

/*
.second-box {
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    margin: 0 10px;
}

.second-box figure {
    position: relative;
}

.second-box figure img {
    width: 100%;
}

.second-box section {
    margin: 10px;
}

.second-box figcaption {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
}

/***************************LEFT*************************/

.column-left {
    background-color: orangered;
}

@media screen and (min-width:950px) {
    .column-left {
        width: 100%;
        float: left;
    }
}

/***************************FOOTER*************************/

footer {
    background-color: olive;
}

footer nav {
    background-color: paleturquoise;
}

.creator {
    background-color: mediumslateblue;
}