* {
    box-sizing: border-box;
}

body {
    background-color: #ECECEC;
}

.wrapper {
    padding: 0 8px;
}

/******************************************PULL-RIGHT**********************************************/

.pull-right {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width:450px) {
    .pull-right {
        width: 100%;
    }
}

@media screen and (min-width:850px) {
    .pull-right {
        width: 70%;
        padding-left: 14px;
    }
}

.top-news {
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    padding: 16px;
}

.pull-right section {
    max-width: 100%;
    display: inline-block;
}

.pull-right section #lightSlider img {
    width: 100%;
}

@media screen and (min-width:550px) {
    .pull-right section #lightSlider img {
        width: 50%;
        float: right;
    }
}

#lightSlider img {
    width: 50%;
}

@media screen and (min-width:550px) {
    .pull-right section .top-news-detail {
        width: 50%;
        float: left;
        padding-right: 10px;
    }
}

.pull-right section .title {
    margin: 0;
    padding: 10px 0 0;
}

@media screen and (min-width:550px) {
    .pull-right section .title {
        padding: 0;
    }
}

.pull-right section .title a {
    color: #1a7e43;
    line-height: 20px;
    font-size: .7em;
}

@media screen and (min-width:550px) {
    .pull-right section .title a {
        font-size: .6em;
    }
}

section .top-news-detail:hover a {
    color: #c92727;
}

.pull-right section .lead {
    color: #303030;
    line-height: 25px;
    margin: 0;
}

@media screen and (min-width:550px) {
    .pull-right section .lead {
        font-size: .8em;
    }
}

.pull-right section hr {
    color: #dbdbdb;
}

/******************************************PULL-LEFT**********************************************/

.pull-left {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width:550px) {
    .pull-left {
        width: 100%;
    }
}

@media screen and (min-width:850px) {
    .pull-left {
        width: 30%;
        float: left;
    }
}

/******************************************* PART 2  ************************************************/

.title h3 {
    margin: 0;
}

.second-subject .title h3 a {
    font-size: .9em;
    color: #3B3B3B;
    line-height: 25px;
    display: block;
}

.second-subject .second-subject-pic a {
    display: block;
}

.second-subject {
    border: 1px solid #e4e4e4;
    font-size: .9em;
    width: 100%;
}

.second-subject li {
    background-color: #fff;
    border-bottom: 1px solid #E4E4E4;
    padding: 10px;
}

.second-subject li:hover {
    background-color: #EFEFEF;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.second-subject li:hover h3 a {
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    color: #1a7e43;
}

.second-subject .second-subject-pic {
    width: 100%;
}

@media screen and (min-width:550px) {
    .second-subject .second-subject-pic {
        width: 30%;
        float: right;
    }
}

.second-subject .second-subject-pic img {
    width: 100%;
    height: auto;
    display: block;
}

.second-subject .second-subject-details {
    width: 100%;
    padding-right: 10px;
}

@media screen and (min-width:550px) {
    .second-subject .second-subject-details {
        width: 70%;
        float: left;
    }
}

.pull-right time {
    width: 88px;
    color: #666;
    font-size: .7em;
    padding: 4px;
    margin: 5px 0;
    display: block;
}

.second-subject .lead p {
    color: #666;
    text-align: justify;
    line-height: 25px;
    font-size: 1.1em;
}

.pull-right .more {
    padding: 4px 10px;
    font-size: .9em;
    color: #fff;
    background-color: #c92727;
    display: table;
    margin: 10px auto;
    opacity: .4;
}

.pull-right .more:hover {
    opacity: 1;
}

/***************************************************review*******************************************************/

.review {
    background-color: #fff;
    display: grid;
}

.review a {
    display: block;
}

.review img {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: auto;
}

.review ul {
    padding: 5px;
}

.review ul li {
    border-bottom: 1px solid #E6E6E6;
    padding: 5px;
}

.review time {
    width: 88px;
    color: #666;
    font-size: .7em;
    padding: 4px;
    margin: 5px 0;
    display: block;
}

.review ul li:hover time {
    width: 100px;
    background-color: #787878;
    color: #fff;
    transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

.review .image-date {
    width: 30%;
    float: right;
}

.review .title-name {
    width: 65%;
    float: left;
}

.review .title-name h4 {
    margin: 0;
}

.review .title-name a {
    font-size: .8em;
    line-height: 25px;
    padding: 3px;
    color: #666;
    display: block;
}

.review .title-name .name-icon {
    color: green;
    font-size: .8em;
}

.review .more {
    padding: 4px 10px;
    font-size: .9em;
    color: #fff;
    background-color: #c92727;
    display: table;
    margin: 10px auto;
    opacity: .4;
}

.review .more:hover {
    opacity: 1;
}

.last-news-header {
    background-color: #444444;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width:750px) {
    .last-news-header {
        justify-content: space-evenly;
    }
}

@media screen and (min-width:950px) {
    .last-news-header {
        justify-content: start;
    }
}

.last-news-header h3 a {
    font-size: .8em;
    color: #fff;
    padding: 7px 13px;
    float: right;
}

.last-news-header h3:nth-child(1) {
    border-bottom: 2px solid red;
}

.last-news {
    background-color: #fff;
    padding: 0 20px;
    width: 100%;
    display: inline-block;
}

.last-news li {
    border-bottom: 1px solid #e4e4e4;
    padding: 5px 0;
    position: relative;
}

.last-news a {
    color: #454545;
    line-height: 25px;
    text-align: justify;
    display: inline-block;
    font-size: .8em;
}

.last-news li:hover a {
    color: #38952E;
}

.last-news i {
    color: #c92727;
    font-size: .4em;
    position: absolute;
    top: 15px;
    right: -13px;
}

.last-news .more {
    padding: 0 12px;
    font-size: .9em;
    color: #fff;
    background-color: #c92727;
    display: table;
    margin: 10px auto;
    opacity: .4;
}

.last-news .more:hover {
    opacity: 1;
}

.last-news-part2 a {
    background-color: #444;
    display: block;
    padding: 15px 10px;
    margin: 10px auto;
    text-align: center;
    color: #fff;
}